/*
.leftPanel { 
    float: left; 
    width: 33%;
    height: 500px;
}
.rightPanel {
    float: right; 
    width: 33%; 
    height: 500px;
}
.midPanel {
    display: inline-block;
    width: 33%; 
    height: 500px;
}
*/

.leftPanel { 
    float: left; 
    height: 500px;
}
.midPanel {
    float: left;
    height: 500px;
}
.rightPanel {
    float: left; 
    height: 500px;
}

div {
	font-family: "Courier New", Courier, monospace;
}
h1 {
	font-family: "Courier New", Courier, monospace;
}
p {
	font-family: "Courier New", Courier, monospace;
}
span {
	font-family: "Courier New", Courier, monospace;
}

#inbox {
	width: 300px;
    height: 50px;
}
#note {
	font-size: 12px;
}